.footer-page-name {
    font-size: 140%;
    font-weight: bold;
}

.footer-page-text {
    font-size: 110%;
}

.footer-deteil-div {
    position: absolute;
    top: 15%;
    right: 7%;
}

.footer-social-media {
    display: flex;
    gap: 15%;
    padding-right: 15%;
}